# env
.env
.env.*
!.env.example

# python
.venv/
__pycache__/
*.pyc

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
generated/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# airflow
logs/

# mac/linux
.DS_Store
.env
